@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Hanken Grotesk", sans-serif;
}
* {
    box-sizing: border-box;
}
.slick-dots li button:before {
    color: white;
}

.slick-dots li.slick-active button:before {
    color: white !important;
}
.slick-dots li button:before {
    color: rgb(235, 235, 235) !important;
}
.bg-custom-gradient {
    background: radial-gradient(circle at top left, rgba(145, 192, 245, 0.5) , transparent 13%), #1A1A1A;
}

