@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
    color: white;
}

.slick-dots li.slick-active button:before {
    color: white !important;
}
.slick-dots li button:before {
    color: rgb(235, 235, 235) !important;
}